.dashboard .panel .panel-heading {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-weight: bold;
  background-color: transparent;
}

.dashboard  .row.resume {
  margin-left: 7% !important;
  margin-right: 12% !important;
}

.dashboard .resume .row {
  background-color: #AAA;
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 20px;
  color: #FFF;
  padding: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 60px;
  border-radius: 5px;
}

.dashboard .resume .critical.row {
  background-color: rgba(230, 32, 32, 0.82);
}

.dashboard .resume .normal.row {
  background-color: #79c447;
}

.dashboard .resume .sun.row {
  background-color: #fabb3d;
}

.dashboard .resume .rain.row {
  background-color:cadetblue;
}

.dashboard .resume .row .dinamicNumber {
  font-size: 50px;
  text-align: center;
}

.dashboard .resume .row .dinamicNumberLabel {
  text-align: center;
  margin-right: 10px;
  padding-right: 10px;
}

.dashboard .resume .icon {
  display: block;
  float: left;
  height: 60px;
  margin-bottom: 60px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  width: 80px;
  right: 40px;
  bottom: 9px;
  position: absolute;
}

.dashboard .resume .icon i {
  color: rgba(0, 0, 0, 0.05);
  font-size: 85px;
  line-height: 65px;
}

.dashboard .resume  .row .valor {
  font-size: 22px;
  display: block;
}

tr.row-level-critical {
  background-color: rgba(237, 133, 136, 1);
}

tr.row-level-warning {
  background-color: #FCE081;
}

tr.row-level-normal {
  background-color: transparent;
}